body {
  background-color: black;
  text-align: center;
  color: pink;
}

.important {
background-color: pink;
color:black
}

.intro{
  background-color: pink
  color:black
  margin-top: 60%
}
